<div class="page-header">
  <h1>New Comment new comment</h1>
</div>

<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |error| %>
    <p class="alert alert-danger"><strong><%= error %></strong></p>
  <% end %>
<% end %>

<%= form_for @comment, url:comments_path(@post.id) do |f| %>
  <div class="form-group">
    <%= f.label :remark %>
    <%= f.text_field :remark, class: "form-control" %>
  </div>

  <!-- <div class="form-group">
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.all, :id, :name, {prompt: true},  {class: "form-control"} %>
  </div> -->

  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
