<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |error| %>
    <p class="alert alert-danger"><strong><%= error %></strong></p>
  <% end %>
<% end %>

<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :postbody %>
    <%= f.text_field :postbody, class: "form-control" %>
    </div>

  
    <div class="form-group">
      <%= f.label :photo %>
      <%= f.attachment_field :photo, class: "" %>
      <% if @post.errors[:photo].any? %>
        <span class="mdl-textfield__error">* <%= @post.errors[:photo].join(", ") %> </span>
      <% end %>
    </div>

  <div class="">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
