<h1>Posts#Index</h1>

<div class="postindex">
  <ol>
    <% @posts.each do |post| %>   <!-- # This do is ended down below -->

    <div class="postwrapper">
      <li>
        <!--  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  -->
        <div class="imagebox">
          <div class="tinybox">
            <div class="image">
              <a>
              <%= image_tag attachment_url post, :photo, :fill, 300,300 %>
              </a>
            </div>  <!-- close the image div for image -->
          </div> <!-- close tinybox tag -->

          <div class="timelatlong">
            <div class="time">
              <p> <%= post.photo_date  %> </p>
            </div> <!-- close time -->

            <div class="lat">
              <%= post.latitude %>
            </div> <!-- close lat -->

            <div class="long">
              <%= post.longitude %>
            </div> <!-- close long -->

          </div> <!-- close details of time lat long -->
          </div> <!-- close the imagebox -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv   -->

<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM  -->

      <div class="poststats">
        <div class="titlestat">
          <h1><%=link_to post.title, post_path(id: post.id)%></h1>
        </div>
        <div class"votestat">
          <%= link_to upvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm', data: {disable: true} do %>
            <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          <%= link_to downvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm' do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
        </div>
        <div class="likes">
          <strong><%= post.likes %></strong>
        </div>
        <div class="liketext">
          <%= "LIKES" %>
        </div>



      </div>  <!-- this closes the poststats div -->

<!-- WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW   -->

<!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooo  -->

      <div class="namebody">
        <div class="namestalk">
        <div class="name">
          <%= post.user.name %>
        </div> <!-- close name tag -->
        <div class="follow">
        <p>  <%= 'ff' %> </p>
        </div> <!-- close follow tag -->
      </div> <!-- close namestalk -->
        <div class="textbody">
          <%= post.postbody %>
        </div>  <!-- close textbody tag  -->
      </div> <!-- close the namebody tag  -->

      <div class="emptydiv">
        <p></p>
      </div>  <!-- close the empty div -->
      </li>
    </div> <!-- close the POST WRAPPER -->
    <% end %> <!-- # This is the do post end -->
  </ol>
</div> <!-- close the post INDEX div -->
