
<div class="postindex">
<div class="mapdecor">
<div id="mapid">

<script type="text/javascript">
$(window).ready(function(){

  var mymap = L.map('mapid').setView([29.73, -95.39], 10);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'jwo-cink.pia181pk',
    accessToken: 'pk.eyJ1IjoiandvLWNpbmsiLCJhIjoiQVBfcW9OOCJ9.k2Q4vbfJs16Idk2cOziQYQ'
}).addTo(mymap);

  <% @posts.each do |post| %>
    L.marker([<%= post.latitude %>, <%= post.longitude %>]).addTo(mymap)
    .bindPopup('<%= image_tag attachment_url(post, :photo, :fill, 160, 160), class: "img-responsive" %>  <br /><%= link_to 'View Post', post_path(id: post.id ), class: "btn btn-default btn-block" %>');
  <% end %>

})
</script>

</div>   <!-- closes map id -->
</div> <!-- map decor -->

  <ol>
    <% @posts.each do |post| %>   <!-- # This do IS ended below -->

    <div class="postwrapper">
      <li>
        <!--  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  -->
        <div class="imagebox">
          <div class="tinybox">
            <div class="image">
              <a>
              <%= image_tag attachment_url post, :photo, :fill, 300,300 %>
              </a>
            </div>  <!-- close the image div for image -->
          </div> <!-- close tinybox tag -->
        </div> <!-- close the imagebox -->
        <div class="timewrapper">

          <div class="timelatlong">
            <div class="time">
              <p> <%= post.photo_date  %> </p>
            </div> <!-- close time -->

        <!--     <div class="lat">       -->
        <!--       <#%= post.latitude %>  -->
        <!--     </div>  close lat       -->

        <!--     <div class="long">  -->
        <!--       <#%= post.longitude %>  -->
        <!--     </div>  close long   -->

          </div> <!-- close details of time lat long -->
        </div> <!-- close the timewrapper -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv   -->

<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM  -->

      <div class="poststats">
        <div class="titlestat">
          <h1><%=link_to post.title, post_path(id: post.id)%></h1>
        </div>
        <div class"votestat">
          <%= link_to upvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm', data: {disable: true} do %>
            <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          <%= link_to downvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm' do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
        </div>
        <div class="likes">
          <strong><%= post.likes %></strong>
        </div>
        <div class="liketext">
          <%= "LIKES" %>
        </div>

      </div>  <!-- this closes the poststats div -->

<!-- WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW   -->

<!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooo  -->

      <div class="namebody">
        <div class="namestalk">
        <div class="name">
          <%= post.user.name %>
        </div> <!-- close name tag -->
        <!--  <div class="follow"> -->
        <!--    <p>  </p> -->
        <!--  </div> < close follow tag -->
        <!--  <div class="follow"> -->
        <!--    <p> </p> -->
        <!--  </div> <close follow tag -->
      </div> <!-- close namestalk -->
    </div> <!-- this close namebody -->

      <div class="bodyofpost">
        <div class="textbody">
        <p>  <%= post.postbody %> </p>
        </div>  <!-- close textbody tag  -->
      </div> <!-- close bodyofpost  -->

      <div class="emptydiv">
        <p></p>
      </div>  <!-- close the empty div -->
      </li>
    </div> <!-- close the POST WRAPPER -->
    <% end %> <!-- # This is the do post end -->
  </ol>
</div> <!-- close the post INDEX div -->
