<div class="container">

<div class="page-title">
  <h1 class="text-center"><%= @post.title %></h1>
</div>

<div class="text-center post-detail-image">
  <%= image_tag attachment_url @post, :photo, :fill, 500,500 %>
</div>



<script type="text/javascript">
$(window).ready(function(){

  var mymap = L.map('mapid').setView([<%= @post.latitude %>, <%= @post.longitude %>], 16);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'jwo-cink.pia181pk',
    accessToken: 'pk.eyJ1IjoiandvLWNpbmsiLCJhIjoiQVBfcW9OOCJ9.k2Q4vbfJs16Idk2cOziQYQ'
}).addTo(mymap);

    L.marker([<%= @post.latitude %>, <%= @post.longitude %>]).addTo(mymap)
})
</script>


<div class="row">
  <div class="col-sm-6">
    <div class="postwrapper">

    <div class="imagebox">

      <div class="">
        <div class="time">
          <p> <%= @post.photo_date.strftime("%b %d, %Y")  %> </p>
        </div> <!-- close time -->

        <div class="lat">
          Latitude: <%= @post.latitude %>
        </div> <!-- close lat -->

        <div class="long">
          Longitude: <%= @post.longitude %>
        </div> <!-- close long -->

      </div> <!-- close details of time lat long -->
      </div> <!-- close the imagebox -->

    </div>
      <div class="count"><strong><%= pluralize @post.likes, 'like' %></strong></div>
      <h3>Posted by: <%= @post.user.name %></h3>
      <blockquote><%= @post.postbody %></blockquote>




  </div>

  <div class="col-sm-6">
    <div id="mapid" class="post-detail"></div>
  </div>

</div>



<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv   -->



  <h3>Comments</h3>
  <% @post.comments.order("id desc").each do |comment| %>
      <blockquote> <%= comment.remark %> <cite><%= comment.user.name %></cite> </blockquote>
  <% end %>

  <!-- ADD COMMENT LINK PLACED HERE WILL TAKE YOU TO root/ -->
  <!--  (id: @post.id)    /localhost:3000/comments/new   -->

<%= link_to "ADD COMMENT", new_comment_path, class: "btn btn-default"%>
<%= link_to "delete", post_path(id: @post.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete?"}%>

</div>
